<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script><!--一般开发推荐用cdn，最好用min.js，尝试用npm安装-->
	</head>
	<body>
		<div id="app" class="firstapp">
			<ul>
				<li v-for="item in books">{{item.name}}</li><!-- DOM结构：v-for、v-model为vue提供的指令，类似的还有v-bind、v-if等-->
			</ul><!--item in books：是v-for指令基于数组来渲染一个列表，其中item为源数据数组，books为迭代数组的别名（注：在以后的开发中可以根据数组的名字更改）-->
			<input type="text" v-model="title" /><!--这里input中的v-model的值对应于data中title里的字段，实现数据绑定-->
			<p v-model="title">{{title}}</p>
		</div>
		<script>
			new Vue({
				el:".firstapp",<!--el选项是指定应用的dom位置-->
				data:{<!--data对象中定义UI所需的数据-->
					title:'开始学vue',
					books:[
						{name:"开始学vue1"},
						{name:"开始学vue2"},
						{name:"开始学vue3"}
					]
				}
			})
		</script>
	</body>
</html>